.pagination-container {
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 12px;
  font-size: 1rem;
}

.page-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  color: var(--primary-color);
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
}

button svg {
  scale: 2;
  fill: currentColor;
}

.page-controls button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-size select {
  margin-left: 0.5rem;
}
