<header class="sidebar">
  <div class="sidebar-header">
    <h2>Personal Finance</h2>
  </div>
  <nav class="sidebar-nav">
    <a routerLink="/dashboard" routerLinkActive="active">
      <i class="icon">
        <img src="/assets/icons/char.svg" alt="icon" />
      </i>
      <span>Dashboard</span>
    </a>
    <a routerLink="/income" routerLinkActive="active">
      <i class="icon">
        <img src="/assets/icons/income.svg" alt="icon" />
      </i>
      <span>Income</span>
    </a>
    <a routerLink="/outcome" routerLinkActive="active">
      <i class="icon">
        <img src="/assets/icons/outcome.svg" alt="icon" />
      </i>
      <span>Outcome</span>
    </a>
  </nav>
</header>
