<h1>Income</h1>
<div class="actions">
  <button class="btn" routerLink="/add-income" >Add New Income</button>
</div>
<div class="income-list">
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      @for (item of incomeItems; track $index) {
      <tr>
        <td>{{ item.description }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.date }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
