h1 {
  text-align: center;
  margin-bottom: 20px;
}

.actions {
  text-align: center;
  margin-bottom: 30px;
}

.no-data {
  padding-top: 20px;
  text-align: center;
  font-style: italic;
  color: var(--border-color);
}
