<h1>Income</h1>

<div class="actions">
  <button class="btn" routerLink="/income/add-income">Add Record</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (item of pagination.paginatedItems(); track $index) {
      <tr>
        <td>{{ item.description }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.date }}</td>
        <td>
          <a class="table-action" [routerLink]="['/income/edit-income']" [queryParams]="{id:item.id}">Edit</a>
          <a class="table-action" (click)="deleteIncomeItem(item.id)">Delete</a>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="4" class="text-center">No records found</td>
      </tr>
      }
    </tbody>
  </table>
  <app-pagination [pagination]="pagination"></app-pagination>
</div>
