body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;
}

/* Detect device's preferred color scheme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: snow;
  }
  h1,h2,h3,h4,h5,h6{
    color: whitesmoke
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #121212;
  }
  h1,h2,h3,h4,h5,h6{
    color: #333
  }
}
