:root {
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;
}

#layout {
  display: flex;
  flex-direction: row;
}

/* Components */
.table-container {
  border-radius: 6px;
  overflow: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;
}

th {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 15px;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-color-hover);
}

/* Detect device's preferred color scheme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: snow;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: whitesmoke
  }

  tr:hover {
    background-color: #0f0f0f;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #121212;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #333
  }

  tr:hover {
    background-color: whitesmoke;
  }
}
